<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
  <br>
    <span><b>UpperCase:</b> {{lowerCase}} => {{lowerCase | lowercase}}</span>
    <hr>
    <br>
    <span><b>LowerCase:</b> {{uppercase}} => {{uppercase | uppercase}}</span>
    <hr>
    <br>
    <span><b>Date:</b> {{Today}} => {{Today | date}}</span>

    <hr><br>
   <span><b>Percent : </b>35000 => {{35000 |percent}}</span>
      <hr><br>
    <span><b>JSON : </b>{{jsonValue}} => {{jsonValue | json}}</span> 
    <hr><br>
    <span><b>DecimaL : </b>3.209389458348958 => {{3.209389458348958 | number}}</span> 
    <hr><br>
    
</div>
